<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Fit Collection</title>
    <link rel="shortcut icon" href="/images/logo1.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="container">
        <!-- Header Section -->
        <%- include('./header.ejs') %>

        <!-- Navbar Section -->
        <%- include('./nav.ejs') %>

         <!-- Banner Section -->
        <%- include('./banner.ejs') %>

          <!-- Content Area -->
        <%- include('./content.ejs') %>
   
           <!-- Image section -->
        <%- include('./image.ejs') %>
      
            <!-- NewsLetter -->
        <%- include('./newsletter.ejs') %>
          
            <!-- About Us Section -->
        <%- include('./about.ejs') %>
            
             <!-- Contact Us -->
              <%- include('./contact.ejs') %>
        
             <!--footer section  -->
              <%- include('./footer.ejs') %>
            
    </div>
</body>
</html>